<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/style.css" rel="stylesheet">
        <script src="static/script.js" defer></script>
        <title>2D World Measurement</title>
    </head>
    <body>
        <h1>2D World Measurement Tool</h1>
        <form action="/measure" method="post">
            <img src="" id="imagePreview" alt="Image Preview" style="max-width: 100%; display: none;">
            <div>
                <input id="imageInput" type="file" name="image" accept="image/*" required>
                <button type="submit">Measure</button>
            </div>
        </form>
    </body>
</html>